

*{
    margin: 0;
    padding: 0;
    
}
.full-hai{
   
    width: 100%;
    height: 62.5rem;
    background-color: #2a625a;
}
body{
    margin: 0;
   
    padding: 0;
   
    
    
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 62.5%;
}

 .field{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    width: 60%;
    height: 50rem;
    background-color: white;
    border-radius: 6rem;
       
}
.mb-3{
    width: 100%;
    display: flex;
    align-items: left;
    flex-direction: column;
    margin-top: 0.7rem;
    background-color: transparent;
}
.mb-3 #emailHelp{
    align-self: flex-start;
    
    font-weight: 400;
    font-size: 1.1rem;
}
.mb-3 label{
    align-self: flex-start;
    
    font-weight: 400;
}
.form-label{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.mb-3 input{
    width: 90%;
    height: 3rem;
    font-size: 1.3rem;
    background-color: transparent;
    border-radius: 4px;
}
.field form{
    display: flex;
    flex-direction: column;
    padding-left:5rem ;
    padding-top: 2rem;
    
    width: 30rem;
    height: 90%;
    background-color: transparent;
}
 .mai .col{
    height: 3rem;
    width: 10rem;
    margin-left: 9rem;
    background-color: transparent;
}
.field form button{
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    background-color: #204742;
    border: none;
    color: white;
    border-radius: 3px;
    margin: 2rem;    
    cursor: pointer;
}

.col button:hover{
    background-color:#3b9688 ;
}
.field h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    margin-top: 2rem;
    text-align: center;
    background-color: transparent;
}
.field span{
    color: rgb(206, 82, 10);
    background-color: transparent;
}
.field img{
    height: 33rem;
    width: 33rem;
    float: right;
}
 .yr hr{
  
    border: 0;
    height: 0.14rem;
    background-color: #1f4944;
    opacity: 1;
    width: 40rem;
    transform: rotate(90deg);
    position: absolute;
    top: 50%;
    left: 25%;
}
.sign{
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-right: 3rem;
    padding-bottom: 8rem;
    margin-top: 4rem;
}
.sign h4{
    font-size: 1.3rem;
    margin-right: 0.5rem;
}
.sign a{
    font-size: 1.3rem;
}
form h1{
    font-family: 'Roboto', sans-serif;
    font-size: 22rem;
    padding-top: -2rem;
    margin-bottom: 1rem;
    align-self: flex-start;
    
    background-color: transparent;
}
@media only screen and (max-width:1000px) {
    html{
        font-size: 47%;
    }
}
@media only screen and (max-width:902px) {
    html{
        font-size: 44%;
    }
}
@media only screen and (max-width:840px) {
    html{
        font-size: 40%;
    }
}
.test{
    transition: 1s ease-in-out;
    transform: translate(100%);
}
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"');
